body {
    /*overflow: hidden;*/
    text-align: center;
}

.wrapper {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.container {
  /*width: 50%;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  margin: 0 auto;
  /*margin-bottom: 20px;*/
}

canvas {
  /*width: 40%;*/
}
#over {
  display: none;
}

.iconSelect {
  width: 100%;
  text-align: center;
}

.title {
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  margin-top: 40px;
}

.input {
  text-align: left;
  margin-top: 60px;
  display: block;
}

.reset {
  margin-bottom: 20px;
}
